* {
  box-sizing: border-box;
}

html,
body,
.page {
  height: 100%;
  margin: 0;
}

p,
h2,
h3,
h4,
span {
  font-family: 'Raleway', sans-serif;
}

body {
  overflow: hidden;
}

.post{
  display: flex;
  flex-direction: column;
}

.page {
  display: flex;
  flex-direction: column;
}
.page-header {
  flex: 0 0 auto;
}

.page-content {
  flex: 1 1 auto;
  position: relative;/* need this to position inner content */
  overflow-y: auto;
  text-align: center;
  justify-content: center;
}

.text-over {
  color: white;
  font-size: 1.4em;
  font-weight: 800;
  position: absolute;
  text-align: center;
  left: 20%;
  top: 8%;
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 50px;
  width: 100%;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, .1);
}

.appLogo {
  max-width: 50px;
  max-height: 50px;
}

.camera {
  max-width: 35px;
  margin-left: auto;
  margin-right: 20px;
  background-color: #16A4FE;
  padding: 5px;
  border-radius: 10px
}

img {
  max-width: 100%;
}

h1.title {
  margin: 0;
  padding: 0;
  font-size: 1.25em;
  font-family: 'Montserrat', sans-serif;
  color: #707070;
  padding-left: 15px;
}

.post-header {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 50px;
  padding: 15px;
  margin: 5px 0px;
}

.profile-name{
  padding-left: 15px;
  font-family: 'Raleway', sans-serif;
  color: #434343;
}

.profile-pic-s {
  width: 40px;
  height: 40px;
  object-fit: cover;
  max-height: auto;
  border: 1px solid #7A7A7A;
  border-radius: 50%;
}

img.post-image {
  max-width: 600px;
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.post-icon {
  max-width: 30px;
  max-height: auto;
  margin-left: 15px;
}

 .star-icon {
  margin-right: 15px;
}

.loupe-icon {
  margin-left: auto;
}

.post-footer {
  display: flex;
  width: 100%;
  margin-top: 5px;
}

 .footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 10px 40px;
}
img.nav-img {
  width: 30px;
  height: 30px;
}

.page-footer {
  flex: 0 0 auto;
  max-height: 50px;
  box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, .1);
}


/* <--- PROFILE PAGE STYLE ---> */
.profile-header {
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
}

.profile-pic {
  width: 105px;
  height: 105px;
  object-fit: cover;
  border: 1px solid #7A7A7A;
  margin: 10px 10px 5px 15px;
}

section {
  padding-left: 15px;
}

.profile-discription {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0px 10px;
}

.p-discription {
  margin-top: 5;
}

p.p-discription {
  font-size: 0.92em;
}

.pff-data {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-around;
  padding: 10px 0px;
  background-color: #E5E5E5;
  color: #434343;
  border-radius: 10px;
  margin: 0px 1px 5px 1px;
}

.all-prof-photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.small-img {
  width: 33.333%;
  height: 33.333%;
  padding: 2px;
  border-radius: 15px;
}
.last-item{
  margin-right: auto;
}

a.edit-prof {
  color: black;
  padding: 10px 80px;
  border: 2px solid grey;
  border-radius: 30px;
  text-decoration: none;

}
a.edit-prof:hover {
  background-color: #D801D1;
}

a.edit-prof:active {
  background-color: #D801D1;
}

h2.pff-num {
  margin: 5px 0px;
  font-style: bold;
}

h3.profile-nick {
  text-align: left;
  font-size: 1.4em;
  font-family: 'Raleway', sans-serif;
  color: #434343;
}

.edit-prof {
  font-family: 'Raleway', sans-serif;
  color: white;
  background-color: #16A4FE;
  width: 160px;
  padding: 8px 5px;
  border: 0;
  border-radius: 15px;
  text-decoration: none;
}

.edit-prof-div {
  margin-right: 20px;
}

@media (min-width: 600px) {
    body {
        width: 600px;
        margin: auto;
    }
}
